* {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  box-sizing: border-box;
}

.div-mobile-bg {
  width: 100%;
  height: 68.0625rem;
  flex-shrink: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

.div-mobile-bg svg {
  width: 100%;
}

.div-hero {
  display: flex;
  margin: 16px;
  margin-top: 0;
  padding-top: 4em;
  padding-bottom: 2em;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.div-hero img {
  width: 10em;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.div-hero-text {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem; /* 86.364% */
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

.div-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  width: 100%;
}

.div-menu-item {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #000;
  background: #fcfcfc;
  width: 100%;
}

.div-hero-wrapper {
  position: relative;
  height: 100%;
}

.div-hero-bg-shape {
  padding-top: 14em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 88%;
  z-index: -1;
  background: #fae089;
  border-radius: 15em 15em 0 0;
  top: 8em;
}

.div-about {
  margin-top: 4em;
  padding: 3em 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  background: #c15555;
  z-index: 7;
  position: relative;
}

.div-title {
  width: 100%;
}

.div-about-inside {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1em 0em 0em 8em;
}

.div-about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.div-about-float{
position: absolute;
left: -1.75rem;
bottom: 2em;
}

footer{
    background-color: white;
    padding: 2em 0em;
}

.marquee{
white-space: nowrap;
border-top: solid #000 1px;
border-bottom: solid #000 1px;
padding-top: 0.25em;
padding-bottom: 0.25em;
overflow: hidden;
}

.div-marquee-track{
    width: max-content;
    display: flex;
    white-space: nowrap;
    animation: animate 25s linear infinite;
}

.div-marquee-frame{
    flex-shrink: 0;
white-space: nowrap;
}

@keyframes animate{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}


/* fonts */

h1 {
  font-family: "Nunito Sans";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4375rem;
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

.h1-italics {
  font-size: 2.75rem;
  font-style: italic;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem; /* 158.333% */
  letter-spacing: -0.015rem;
  text-transform: uppercase;
}

.body-copy-one {
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5em; /* 1.10719rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 1em 3em;
text-align: center;
}

.body-copy-two {
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5em; /* 1.10719rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
